.label {
    margin: 0;
}

.input-container {
    max-width: var(--btn-w);
}

.input-row {
    display: flex;
    align-items: center;
}

.res_label {
    flex: 1;
    text-align: right;
    padding-right: 8px;
}

.resource {
    flex: 2;
    max-width: var(--input-max-w);
    height: var(--input-h);
    color: var(--text);
    background-color: var(--bg);
    border: 2px solid var(--border);
    border-radius: var(--radius);
    font-size: 20px;
}

.res-icon {
    width: var(--img-size);
    height: var(--img-size);
    margin-right: 8px;
    flex-shrink: 0;
}

input:hover {
    background-color: var(--panel-hover);
}